.container{
  min-height: 100vh;
  background-color: white;
}
.posts{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 10px;
}
.post{ 
  background-color:rgb(252, 245, 236);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.226);
}
.postContent{
  padding: 10px;
}
.postPhoto{
  width: 100%;
}

